@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
	font-family: 'Quicksand', sans-serif;
}

button {
    color: black;
    text-transform: uppercase;    
}

div.container {
	background-color: #FFF;
	padding: 10px 10px;
	width: 400px;
	height: 400px;
	margin: 35px auto;
	border-radius: 2em;
	text-align: center;
}

.login {
	border-style: solid;
  	border-color: #dae6e8;
  	border-radius: 5px;
}

h3 h1 {
	background-color: #FEFFED;
	padding: 30px 35px;
	margin: -10px -50px;
	text-align: center;
}

a {
	text-decoration: none;
	vertical-align: middle;
}

.container-secondary {
	border-style: solid;
  	border-color: #dae6e8;
  	border-radius: 2em;
  	padding: 10px 10px;
	width: auto;
	height: auto;
	margin: 35px auto;
	text-align: center;
}

#menu {
	padding: 10px 10px;
	text-align: center;
	position: fixed;
	right: 0;
	margin-top: -2.5em;
}